@import url(css/reset.css);

/*подключаю шрифт*/
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
  
  color: #6C757D;
}

/* Контейнер с ограничением*/

[class*="__container"] {
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}


.article {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #E5E5E5;
}
.article__container {
}
.article__text-box {
  max-width: 816px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article__text-box p {
  line-height: 1.78;
  margin-bottom: 30px;
}
.article__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.6;
  /* or 160% */

  color: #212529;

  margin-bottom: 40px;
}

h1 {
  max-width: 400px;
}
h2 {
  max-width: 605px;
}
.article__img {
  max-width: 100%;
  margin-bottom: 80px;

}

.article__images {
  max-width: 100%;
  margin-bottom: 80px;
  font-size: 0;

}

.img__boot {
  margin-right: 30px;
}

.image__fullscreen {
  max-width: 100%;
  padding-bottom: 100px;
 

}
.image__section2-full {
  width: 100%;

  
}

.title-2 {
 margin-top: 100px;
 margin-bottom: 100px;
}

.article__images-bottom {
  max-width: 100%;
  margin-bottom: 100px;
  font-size: 0;
 
}