@import url(css/reset.css);

/*подключаю шрифт*/
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;

  color: #6C757D;
}

/* Контейнер с ограничением*/

[class*="__container"] {
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}


.article {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #E5E5E5;
}

.article__container {}

.article__text-box {
  max-width: 816px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article__text-box p {
  line-height: 1.78;
  margin-bottom: 30px;
}

.article__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.6;
  /* or 160% */

  color: #212529;

  margin-bottom: 40px;
}

h1 {
  max-width: 400px;
}

h2 {
  max-width: 605px;
}

.article__img {
  max-width: 100%;
  margin-bottom: 80px;

}



.article__images {
  /* max-width: 100%; */
  margin-bottom: 80px;
  font-size: 0;

}

.img__kartka {
  max-width: 100%;
}


.img__boot {
  margin-right: 30px;
}

.image__fullscreen {
  max-width: 100%;
  padding-bottom: 100px;


}

.image__section2-full {
  width: 100%;


}

.title-2 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.article__images-bottom {
  /* max-width: 100%; */
  margin-bottom: 100px;
  font-size: 0;

}

.block {
  background-color: rgb(163, 42, 42);

  border-top: 5px solid rgb(80, 60, 60);
  border-right: 7px dashed rgb(179, 255, 0);
  border-bottom: 9px solid rgb(0, 0, 0);
  border-left: 4px dashed rgb(0, 90, 128);

  outline: 8px solid burlywood;

  border-radius: 25%;
  overflow: hidden;
  box-shadow: 0px 0px 80px 0px rgba(239, 7, 165, 0.801);

  box-shadow: inset 0px 0px 20px 0px rgb(194, 224, 221);
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  padding: 10px;
  background-color: purple;
  color: #fff;
  border-radius: 15px;
  border: 5px solid green;
  box-shadow: 0 5px 0 0 #000;
  margin-bottom: 20px;
  position: relative;
  top: 0;
  transition: all 0.3s;
}

.button:hover {
  top: 3px;
  box-shadow: 0 2px 0 0 #000;
}

.inlein {
  font-size: 12px;
  border: 10 solid #fff;
  outline: 15px solid rgba(0, 162, 255, 0.274);

  background-color: aqua;
  border-radius: 30px;
  box-shadow: 0px 0px 30px 0px rgb(0, 0, 0);
  opacity: 0.5;
}